# Database connection
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5433/nta_data_analysis

# NTA GTFS Static data URL
NTA_GTFS_STATIC_URL=https://www.transportforireland.ie/transitData/Data/GTFS_All.zip